### use the Absenteeism module

In [1]:
from Absenteeism_module import *

In [2]:
model = absenteeism_model('final_model')

In [3]:
model.load_and_clear_data('Absenteeism_data.csv')

In [4]:
model.df_without_predictions

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,11,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,36,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,11,23,23/07/2015,289,36,33,239.554,30,1,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...
695,17,10,23/05/2018,179,22,40,237.656,22,2,2,0,8
696,28,6,23/05/2018,225,26,28,237.656,24,1,1,2,3
697,18,10,24/05/2018,330,16,28,237.656,25,2,0,0,8
698,25,23,24/05/2018,235,16,32,237.656,25,3,0,0,2
699,15,28,31/05/2018,291,31,40,237.656,25,1,1,1,2

In [5]:
model.preprocessed_data

,Transportation Expense,Distance to Work,Daily Work Load Average,Body Mass Index,Education,Children,Pets,day_of_week,Reason for Absence_1,Reason for Absence_2,Reason for Absence_3,Reason for Absence_4
0,289,36,239.554,30,0,2,1,1,0,0,0,1
1,118,13,239.554,31,0,1,0,1,0,0,0,0
2,179,51,239.554,31,0,0,0,2,0,0,0,1
3,279,5,239.554,24,0,2,0,3,1,0,0,0
4,289,36,239.554,30,0,2,1,3,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
695,179,22,237.656,22,1,2,0,2,1,0,0,0
696,225,26,237.656,24,0,1,2,2,1,0,0,0
697,330,16,237.656,25,1,0,0,3,1,0,0,0
698,235,16,237.656,25,1,0,0,3,0,0,0,1
699,291,31,237.656,25,0,1,1,3,0,0,0,1

In [6]:
model.predicted_output()

,Transportation Expense,Distance to Work,Daily Work Load Average,Body Mass Index,Education,Children,Pets,day_of_week,Reason for Absence_1,Reason for Absence_2,Reason for Absence_3,Reason for Absence_4,Probability,prediction
0,289,36,239.554,30,0,2,1,1,0,0,0,1,0.691152,1
1,118,13,239.554,31,0,1,0,1,0,0,0,0,0.106389,0
2,179,51,239.554,31,0,0,0,2,0,0,0,1,0.305967,0
3,279,5,239.554,24,0,2,0,3,1,0,0,0,0.888601,1
4,289,36,239.554,30,0,2,1,3,0,0,0,1,0.630800,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,179,22,237.656,22,1,2,0,2,1,0,0,0,0.853441,1
696,225,26,237.656,24,0,1,2,2,1,0,0,0,0.786662,1
697,330,16,237.656,25,1,0,0,3,1,0,0,0,0.906857,1
698,235,16,237.656,25,1,0,0,3,0,0,0,1,0.369004,0
699,291,31,237.656,25,0,1,1,3,0,0,0,1,0.502265,1

In [7]:
df_output = model.preprocessed_data.iloc[500:,:]
df_output

,Transportation Expense,Distance to Work,Daily Work Load Average,Body Mass Index,Education,Children,Pets,day_of_week,Reason for Absence_1,Reason for Absence_2,Reason for Absence_3,Reason for Absence_4,Probability,prediction
500,179,26,261.756,19,1,0,0,4,0,0,0,1,0.207342,0
501,248,25,261.756,32,0,2,1,4,0,0,0,1,0.475472,0
502,179,51,261.756,31,0,0,0,0,0,0,0,1,0.347337,0
503,225,26,261.756,24,0,1,2,2,0,0,0,1,0.325379,0
504,179,26,261.756,19,1,0,0,0,0,0,0,1,0.309747,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,179,22,237.656,22,1,2,0,2,1,0,0,0,0.853441,1
696,225,26,237.656,24,0,1,2,2,1,0,0,0,0.786662,1
697,330,16,237.656,25,1,0,0,3,1,0,0,0,0.906857,1
698,235,16,237.656,25,1,0,0,3,0,0,0,1,0.369004,0
699,291,31,237.656,25,0,1,1,3,0,0,0,1,0.502265,1

### connect with mysql

In [8]:
pip install pymysql

Requirement already satisfied: pymysql in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (1.0.2)
WARNING: You are using pip version 22.0.4; however, version 22.3.1 is available.
You should consider upgrading via the '/Library/Frameworks/Python.framework/Versions/3.10/bin/python3.10 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [9]:
import pymysql

In [10]:
conn=pymysql.connect(database = 'predicted_outputs', user='root', password='6891461lh')

In [11]:
cursor = conn.cursor()

In [12]:
cursor.execute('select * from predicted_outputs;')

0

### created insert statement

In [13]:
df_output.shape

(200, 14)

In [14]:
insert_query = 'insert into predicted_outputs values'

In [15]:
for i in range(df_output.shape[0]):
    insert_query += '('
    for j in range(df_output.shape[1]):
        insert_query += str(df_output[df_output.columns.values[j]].iloc[i]) + ', '
    insert_query = insert_query[:-2] + '), '

In [16]:
insert_query = insert_query[:-2] + ';'

In [17]:
insert_query

'insert into predicted_outputs values(179, 26, 261.756, 19, 1, 0, 0, 4, 0, 0, 0, 1, 0.20734195822271478, 0), (248, 25, 261.756, 32, 0, 2, 1, 4, 0, 0, 0, 1, 0.47547196258272795, 0), (179, 51, 261.756, 31, 0, 0, 0, 0, 0, 0, 0, 1, 0.3473371655007089, 0), (225, 26, 261.756, 24, 0, 1, 2, 2, 0, 0, 0, 1, 0.3253786944999353, 0), (179, 26, 261.756, 19, 1, 0, 0, 0, 0, 0, 0, 1, 0.30974743436730684, 0), (369, 17, 261.756, 25, 0, 3, 0, 1, 0, 0, 0, 1, 0.8386830508617571, 1), (361, 52, 261.756, 27, 0, 1, 4, 1, 0, 0, 0, 1, 0.6737878871133681, 1), (289, 48, 284.853, 36, 0, 0, 2, 3, 1, 0, 0, 0, 0.8465624552861774, 1), (235, 16, 284.853, 25, 1, 0, 0, 3, 1, 0, 0, 0, 0.774798535594769, 1), (246, 25, 284.853, 23, 0, 0, 0, 4, 0, 0, 0, 1, 0.2536735703283549, 0), (289, 48, 284.853, 36, 0, 0, 2, 2, 1, 0, 0, 0, 0.8632819904755128, 1), (291, 31, 284.853, 25, 0, 1, 1, 2, 0, 0, 0, 1, 0.49264135606010956, 0), (118, 10, 284.853, 28, 0, 0, 0, 1, 0, 0, 0, 1, 0.13684582664449138, 0), (289, 48, 284.853, 36, 0, 0, 2, 3, 0, 0, 0, 1, 0.44086908646792533, 0), (291, 31, 284.853, 25, 0, 1, 1, 4, 0, 0, 0, 1, 0.4257291535304439, 0), (225, 26, 284.853, 24, 0, 1, 2, 1, 0, 0, 0, 1, 0.3364618681160616, 0), (369, 17, 284.853, 25, 0, 3, 0, 1, 0, 0, 0, 1, 0.8268681131877033, 1), (369, 17, 284.853, 25, 0, 3, 0, 1, 0, 0, 0, 1, 0.8268681131877033, 1), (225, 26, 284.853, 24, 0, 1, 2, 1, 0, 0, 0, 1, 0.3364618681160616, 0), (369, 17, 284.853, 25, 0, 3, 0, 1, 0, 0, 0, 1, 0.8268681131877033, 1), (179, 51, 284.853, 31, 0, 0, 0, 2, 0, 0, 0, 1, 0.2718026113973712, 0), (228, 14, 284.853, 22, 0, 2, 1, 2, 1, 0, 0, 0, 0.8164872686233209, 1), (291, 31, 284.853, 25, 0, 1, 1, 2, 0, 0, 0, 1, 0.49264135606010956, 0), (369, 17, 284.853, 25, 0, 3, 0, 3, 1, 0, 0, 0, 0.9622851351739279, 1), (225, 26, 284.853, 24, 0, 1, 2, 3, 1, 0, 0, 0, 0.7303823748172946, 1), (369, 17, 284.853, 25, 0, 3, 0, 4, 1, 0, 0, 0, 0.9570708340702654, 1), (225, 26, 284.853, 24, 0, 1, 2, 4, 1, 0, 0, 0, 0.7030017014624355, 1), (189, 29, 284.853, 25, 0, 2, 2, 6, 0, 0, 0, 1, 0.22228223279519874, 0), (235, 16, 284.853, 25, 1, 0, 0, 6, 1, 0, 0, 0, 0.6965274434541879, 1), (248, 25, 284.853, 32, 0, 2, 1, 6, 1, 0, 0, 0, 0.8164687555831485, 1), (225, 26, 284.853, 24, 0, 1, 2, 6, 0, 0, 0, 0, 0.09205763686974627, 0), (225, 26, 284.853, 24, 0, 1, 2, 1, 1, 0, 0, 0, 0.780130072662121, 1), (179, 51, 268.519, 31, 0, 0, 0, 1, 0, 0, 1, 0, 0.790798415759048, 1), (118, 10, 268.519, 28, 0, 0, 0, 2, 0, 0, 0, 1, 0.12823566655395333, 0), (330, 16, 268.519, 25, 1, 0, 0, 2, 1, 0, 0, 0, 0.9086587520747554, 1), (179, 51, 268.519, 31, 0, 0, 0, 4, 0, 0, 0, 1, 0.23230566770848737, 0), (118, 10, 268.519, 28, 0, 0, 0, 1, 1, 0, 0, 0, 0.5408604654312151, 1), (289, 36, 268.519, 30, 0, 2, 1, 2, 0, 0, 0, 1, 0.6374114675700053, 1), (235, 16, 268.519, 25, 1, 0, 0, 4, 1, 0, 0, 0, 0.761459270397308, 1), (225, 26, 268.519, 24, 0, 1, 2, 4, 0, 0, 0, 1, 0.26427355449822865, 0), (361, 52, 268.519, 27, 0, 1, 4, 1, 0, 0, 0, 1, 0.6683023414047748, 1), (291, 31, 268.519, 25, 0, 1, 1, 2, 0, 0, 0, 1, 0.5076451079183044, 1), (118, 10, 268.519, 28, 0, 0, 0, 3, 1, 0, 0, 0, 0.4735113421898409, 0), (225, 26, 268.519, 24, 0, 1, 2, 3, 1, 0, 0, 0, 0.7420370036168776, 1), (179, 51, 268.519, 31, 0, 0, 0, 0, 0, 0, 0, 1, 0.34172522963619745, 0), (118, 10, 268.519, 28, 0, 0, 0, 0, 0, 0, 0, 1, 0.1615434893472468, 0), (118, 10, 268.519, 28, 0, 0, 0, 1, 1, 0, 0, 0, 0.5408604654312151, 1), (225, 26, 268.519, 24, 0, 1, 2, 1, 0, 0, 0, 1, 0.3499902688323829, 0), (291, 31, 268.519, 25, 0, 1, 1, 1, 0, 0, 0, 0, 0.3165876107105332, 0), (289, 36, 268.519, 30, 0, 2, 1, 2, 0, 0, 0, 0, 0.40833200142752696, 0), (248, 25, 268.519, 32, 0, 2, 1, 3, 1, 0, 0, 0, 0.8762529097275212, 1), (235, 20, 268.519, 38, 0, 1, 0, 3, 0, 0, 0, 0, 0.23271894421714034, 0), (225, 26, 268.519, 24, 0, 1, 2, 4, 0, 0, 0, 1, 0.26427355449822865, 0), (369, 17, 268.519, 25, 0, 3, 0, 4, 0, 0, 0, 1, 0.7718557252858267, 1), (361, 52, 268.519, 27, 0, 1, 4, 0, 0, 0, 0, 1, 0.697505506584204, 1), (179, 51, 280.549, 31, 0, 0, 0, 1, 1, 0, 0, 0, 0.7522736875409375, 1), (291, 31, 280.549, 25, 0, 1, 1, 2, 0, 0, 0, 1, 0.49659465472646197, 0), (225, 26, 280.549, 24, 0, 1, 2, 2, 0, 0, 0, 1, 0.3104070631894663, 0), (179, 26, 280.549, 19, 1, 0, 0, 4, 1, 0, 0, 0, 0.630752961249512, 1), (225, 26, 280.549, 24, 0, 1, 2, 4, 0, 0, 0, 1, 0.25576876318444947, 0), (225, 26, 280.549, 24, 0, 1, 2, 2, 0, 0, 0, 1, 0.3104070631894663, 0), (361, 52, 280.549, 27, 0, 1, 4, 3, 1, 0, 0, 0, 0.911490987969726, 1), (179, 22, 280.549, 22, 1, 2, 0, 4, 0, 0, 1, 0, 0.8189335207933685, 1), (235, 20, 280.549, 38, 0, 1, 0, 4, 0, 0, 0, 1, 0.3924215090910134, 0), (233, 51, 280.549, 21, 1, 1, 8, 0, 0, 0, 1, 0, 0.8156678690249924, 1), (179, 26, 280.549, 19, 1, 0, 0, 1, 1, 0, 0, 0, 0.7191481361537231, 1), (225, 26, 280.549, 24, 0, 1, 2, 1, 0, 0, 0, 1, 0.3400017564947981, 0), (225, 26, 280.549, 24, 0, 1, 2, 3, 0, 0, 0, 1, 0.28228659608072676, 0), (225, 26, 280.549, 24, 0, 1, 2, 0, 0, 0, 0, 1, 0.37090044238961406, 0), (155, 12, 280.549, 25, 0, 2, 0, 1, 0, 0, 1, 0, 0.7901892697021687, 1), (179, 26, 313.532, 19, 1, 0, 0, 0, 1, 0, 0, 0, 0.7219136890595698, 1), (179, 26, 313.532, 19, 1, 0, 0, 3, 1, 0, 0, 0, 0.6339458853287195, 1), (179, 22, 313.532, 22, 1, 2, 0, 3, 0, 0, 0, 1, 0.35493462130443465, 0), (179, 22, 313.532, 22, 1, 2, 0, 4, 0, 0, 0, 1, 0.32467955273339155, 0), (179, 26, 313.532, 19, 1, 0, 0, 0, 1, 0, 0, 0, 0.7219136890595698, 1), (179, 22, 313.532, 22, 1, 2, 0, 2, 0, 0, 0, 1, 0.38639588040859335, 0), (289, 48, 313.532, 36, 0, 0, 2, 3, 1, 0, 0, 0, 0.8323687569207763, 1), (179, 22, 313.532, 22, 1, 2, 0, 4, 0, 0, 1, 0, 0.8002635162805251, 1), (179, 26, 313.532, 19, 1, 0, 0, 0, 0, 0, 0, 1, 0.2706056411842076, 0), (155, 12, 313.532, 25, 0, 2, 0, 1, 0, 0, 1, 0, 0.7693900235787638, 1), (179, 26, 313.532, 19, 1, 0, 0, 2, 0, 0, 0, 1, 0.22073073610006116, 0), (179, 51, 313.532, 31, 0, 0, 0, 2, 0, 0, 0, 1, 0.25145308760179663, 0), (289, 36, 313.532, 30, 0, 2, 1, 2, 1, 0, 0, 0, 0.9124778448433104, 1), (179, 51, 313.532, 31, 0, 0, 0, 3, 0, 0, 0, 1, 0.22691596949506485, 0), (179, 51, 313.532, 31, 0, 0, 0, 4, 0, 0, 0, 1, 0.20412029917369906, 0), (179, 51, 264.249, 31, 0, 0, 0, 1, 1, 0, 0, 0, 0.763266141368782, 1), (225, 26, 264.249, 24, 0, 1, 2, 1, 0, 0, 0, 1, 0.3535680856995827, 0), (248, 25, 264.249, 32, 0, 2, 1, 2, 1, 0, 0, 0, 0.8916817458807724, 1), (179, 51, 264.249, 31, 0, 0, 0, 2, 0, 0, 0, 1, 0.28704355908000695, 0), (225, 26, 264.249, 24, 0, 1, 2, 3, 0, 0, 0, 1, 0.29457789339395696, 0), (179, 51, 264.249, 31, 0, 0, 0, 3, 0, 0, 0, 1, 0.26024089240440335, 0), (179, 26, 264.249, 19, 1, 0, 0, 3, 0, 0, 0, 1, 0.22877299679805144, 0), (225, 15, 264.249, 28, 1, 2, 2, 4, 0, 0, 0, 1, 0.4351156925889682, 0), (179, 51, 264.249, 31, 0, 0, 0, 4, 0, 0, 0, 1, 0.23511559421354275, 0), (233, 51, 264.249, 21, 1, 1, 8, 0, 0, 0, 1, 0, 0.8245035512692284, 1), (179, 51, 264.249, 31, 0, 0, 0, 0, 0, 0, 0, 1, 0.34526343460709663, 0), (225, 26, 264.249, 24, 0, 1, 2, 1, 1, 0, 0, 0, 0.7928406950086652, 1), (179, 51, 264.249, 31, 0, 0, 0, 2, 0, 0, 0, 1, 0.28704355908000695, 0), (179, 51, 264.249, 31, 0, 0, 0, 3, 0, 0, 0, 1, 0.26024089240440335, 0), (225, 26, 264.249, 24, 0, 1, 2, 3, 0, 0, 0, 1, 0.29457789339395696, 0), (179, 26, 264.249, 19, 1, 0, 0, 3, 1, 0, 0, 0, 0.6748652889870892, 1), (179, 22, 264.249, 22, 1, 2, 0, 4, 0, 0, 0, 1, 0.3655727032777656, 0), (179, 51, 264.249, 31, 0, 0, 0, 4, 0, 0, 0, 1, 0.23511559421354275, 0), (233, 51, 264.249, 21, 1, 1, 8, 2, 1, 0, 0, 0, 0.7507351281606663, 1), (179, 26, 264.249, 19, 1, 0, 0, 2, 0, 0, 0, 1, 0.2534450894175058, 0), (179, 51, 264.249, 31, 0, 0, 0, 2, 0, 0, 0, 1, 0.28704355908000695, 0), (179, 51, 264.249, 31, 0, 0, 0, 3, 1, 0, 0, 0, 0.7111157530162838, 1), (179, 51, 264.249, 31, 0, 0, 0, 4, 0, 0, 0, 1, 0.23511559421354275, 0), (155, 12, 264.249, 25, 0, 2, 0, 0, 0, 0, 0, 1, 0.35448121023823576, 0), (235, 16, 264.249, 25, 1, 0, 0, 0, 0, 0, 0, 1, 0.4428959730832782, 0), (179, 51, 264.249, 31, 0, 0, 0, 0, 0, 0, 0, 1, 0.34526343460709663, 0), (225, 26, 264.249, 24, 0, 1, 2, 0, 1, 0, 0, 0, 0.8141288220753743, 1), (179, 51, 264.249, 31, 0, 0, 0, 1, 0, 0, 0, 1, 0.3154296356246433, 0), (248, 25, 264.249, 32, 0, 2, 1, 1, 0, 0, 0, 1, 0.5738166094051662, 1), (225, 26, 264.249, 24, 0, 1, 2, 1, 0, 0, 0, 1, 0.3535680856995827, 0), (179, 51, 264.249, 31, 0, 0, 0, 2, 0, 0, 0, 1, 0.28704355908000695, 0), (179, 51, 264.249, 31, 0, 0, 0, 3, 0, 0, 0, 1, 0.26024089240440335, 0), (235, 16, 264.249, 25, 1, 0, 0, 4, 0, 0, 0, 1, 0.31666533496687443, 0), (179, 51, 222.196, 31, 0, 0, 0, 0, 0, 0, 0, 1, 0.38097759237686657, 0), (248, 25, 222.196, 32, 0, 2, 1, 0, 0, 0, 0, 1, 0.6426523965481951, 1), (228, 14, 222.196, 22, 0, 2, 1, 1, 0, 0, 0, 1, 0.47810546682488225, 0), (248, 25, 222.196, 32, 0, 2, 1, 1, 0, 0, 0, 1, 0.6111061980707234, 1), (228, 14, 222.196, 22, 0, 2, 1, 1, 1, 0, 0, 0, 0.8650510377905969, 1), (179, 51, 222.196, 31, 0, 0, 0, 2, 0, 0, 0, 1, 0.3196758203261259, 0), (225, 26, 222.196, 24, 0, 1, 2, 3, 0, 0, 0, 1, 0.32767302733894743, 0), (179, 51, 222.196, 31, 0, 0, 0, 3, 0, 0, 0, 1, 0.29107009505163556, 0), (225, 26, 222.196, 24, 0, 1, 2, 3, 0, 0, 0, 1, 0.32767302733894743, 0), (179, 26, 222.196, 19, 1, 0, 0, 4, 0, 0, 0, 1, 0.2322484061728072, 0), (235, 16, 222.196, 25, 1, 0, 0, 0, 0, 0, 0, 1, 0.4812855671537554, 0), (361, 52, 222.196, 27, 0, 1, 4, 0, 0, 0, 1, 0, 0.9579506616162732, 1), (179, 51, 222.196, 31, 0, 0, 0, 1, 1, 0, 0, 0, 0.7900446507120759, 1), (179, 51, 222.196, 31, 0, 0, 0, 2, 0, 0, 0, 1, 0.3196758203261259, 0), (179, 51, 222.196, 31, 0, 0, 0, 3, 0, 0, 0, 1, 0.29107009505163556, 0), (179, 26, 222.196, 19, 1, 0, 0, 4, 0, 0, 0, 1, 0.2322484061728072, 0), (179, 51, 222.196, 31, 0, 0, 0, 0, 1, 0, 0, 0, 0.8115518111024396, 1), (248, 25, 222.196, 32, 0, 2, 1, 0, 1, 0, 0, 0, 0.9263836307333687, 1), (179, 51, 222.196, 31, 0, 0, 0, 0, 0, 0, 0, 1, 0.38097759237686657, 0), (225, 26, 222.196, 24, 0, 1, 2, 0, 1, 0, 0, 0, 0.836387215850323, 1), (179, 51, 222.196, 31, 0, 0, 0, 1, 0, 0, 0, 1, 0.34970607096414563, 0), (289, 36, 222.196, 30, 0, 2, 1, 2, 0, 0, 0, 1, 0.675761587501117, 1), (228, 14, 222.196, 22, 0, 2, 1, 2, 0, 0, 0, 1, 0.4445873709721012, 0), (179, 51, 222.196, 31, 0, 0, 0, 2, 0, 0, 0, 1, 0.3196758203261259, 0), (248, 25, 222.196, 32, 0, 2, 1, 3, 0, 0, 0, 1, 0.5454004473279092, 1), (179, 51, 222.196, 31, 0, 0, 0, 3, 0, 0, 0, 1, 0.29107009505163556, 0), (179, 26, 222.196, 19, 1, 0, 0, 4, 0, 0, 0, 1, 0.2322484061728072, 0), (179, 51, 222.196, 31, 0, 0, 0, 4, 0, 0, 0, 1, 0.26403068746975666, 0), (179, 51, 222.196, 31, 0, 0, 0, 1, 0, 0, 0, 1, 0.34970607096414563, 0), (118, 15, 222.196, 25, 0, 2, 0, 2, 0, 0, 0, 1, 0.26380639445435783, 0), (155, 12, 222.196, 25, 0, 2, 0, 2, 1, 0, 0, 0, 0.773956868271257, 1), (179, 51, 222.196, 31, 0, 0, 0, 2, 0, 0, 0, 1, 0.3196758203261259, 0), (179, 51, 222.196, 31, 0, 0, 0, 3, 0, 0, 0, 1, 0.29107009505163556, 0), (179, 26, 222.196, 19, 1, 0, 0, 0, 1, 0, 0, 0, 0.7840776976255968, 1), (289, 36, 222.196, 30, 0, 2, 1, 0, 0, 0, 1, 0, 0.9578926375520491, 1), (369, 17, 222.196, 25, 0, 3, 0, 2, 0, 0, 0, 1, 0.84008962067917, 1), (225, 26, 246.288, 24, 0, 1, 2, 0, 1, 0, 0, 0, 0.8239095136864252, 1), (118, 10, 246.288, 28, 0, 0, 0, 0, 1, 0, 0, 0, 0.5939758052882419, 1), (361, 52, 246.288, 27, 0, 1, 4, 1, 0, 0, 1, 0, 0.9479696695409139, 1), (248, 25, 246.288, 32, 0, 2, 1, 2, 0, 0, 1, 0, 0.9128386603902782, 1), (189, 29, 246.288, 25, 0, 2, 2, 3, 1, 0, 0, 0, 0.775496036465116, 1), (179, 26, 246.288, 19, 1, 0, 0, 4, 0, 0, 0, 1, 0.2168386660044101, 0), (369, 17, 246.288, 25, 0, 3, 0, 0, 1, 0, 0, 0, 0.97781178196366, 1), (179, 22, 246.288, 22, 1, 2, 0, 1, 0, 1, 0, 0, 0.5470462633782642, 1), (118, 13, 246.288, 31, 0, 1, 0, 1, 0, 0, 0, 1, 0.22830560047004303, 0), (361, 52, 246.288, 27, 0, 1, 4, 1, 0, 0, 0, 1, 0.6861551295808347, 1), (118, 10, 246.288, 28, 0, 0, 0, 2, 1, 0, 0, 0, 0.5276130630320868, 1), (235, 11, 246.288, 29, 1, 1, 1, 4, 0, 0, 0, 1, 0.4068147397987948, 0), (179, 26, 246.288, 19, 1, 0, 0, 4, 0, 0, 0, 1, 0.2168386660044101, 0), (225, 26, 246.288, 24, 0, 1, 2, 0, 0, 0, 1, 0, 0.847848786593185, 1), (235, 16, 246.288, 25, 1, 0, 0, 1, 0, 1, 0, 0, 0.4927159311386273, 0), (179, 26, 246.288, 19, 1, 0, 0, 4, 0, 0, 0, 1, 0.2168386660044101, 0), (155, 12, 246.288, 25, 0, 2, 0, 1, 0, 0, 0, 1, 0.3388705307046154, 0), (225, 26, 246.288, 24, 0, 1, 2, 3, 0, 0, 1, 0, 0.7880207149211033, 1), (118, 13, 246.288, 31, 0, 1, 0, 3, 1, 0, 0, 0, 0.6124829870585757, 1), (179, 26, 246.288, 19, 1, 0, 0, 4, 0, 0, 0, 1, 0.2168386660044101, 0), (235, 11, 237.656, 29, 1, 1, 1, 0, 0, 0, 0, 1, 0.5484207045859012, 1), (225, 15, 237.656, 28, 1, 2, 2, 2, 0, 0, 1, 0, 0.9026356819652415, 1), (235, 16, 237.656, 25, 1, 0, 0, 2, 0, 0, 0, 1, 0.4009371595717914, 0), (118, 10, 237.656, 28, 0, 0, 0, 2, 1, 0, 0, 0, 0.5355109007804585, 1), (235, 20, 237.656, 38, 0, 1, 0, 2, 0, 0, 0, 1, 0.4975818186538052, 0), (179, 26, 237.656, 19, 1, 0, 0, 3, 1, 0, 0, 0, 0.6959297297950836, 1), (291, 31, 237.656, 25, 0, 1, 1, 3, 0, 0, 0, 1, 0.5022646859565775, 1), (225, 15, 237.656, 28, 1, 2, 2, 3, 1, 0, 0, 0, 0.871821842935426, 1), (300, 26, 237.656, 25, 0, 2, 1, 4, 0, 0, 1, 0, 0.9176401935910845, 1), (225, 15, 237.656, 28, 1, 2, 2, 4, 0, 0, 0, 1, 0.45926731186835956, 0), (179, 26, 237.656, 19, 1, 0, 0, 4, 0, 0, 0, 1, 0.22227343143010944, 0), (118, 13, 237.656, 31, 0, 1, 0, 0, 0, 0, 0, 1, 0.2589842596888259, 0), (118, 13, 237.656, 31, 0, 1, 0, 1, 1, 0, 0, 0, 0.6812106207858661, 1), (118, 10, 237.656, 28, 0, 0, 0, 1, 0, 0, 0, 1, 0.1586493183509701, 0), (118, 13, 237.656, 31, 0, 1, 0, 1, 0, 0, 0, 0, 0.10705359767779847, 0), (179, 26, 237.656, 19, 1, 0, 0, 2, 0, 0, 0, 1, 0.27237507706599595, 0), (378, 49, 237.656, 21, 0, 2, 4, 2, 0, 0, 0, 0, 0.5234066408555142, 1), (179, 22, 237.656, 22, 1, 2, 0, 4, 0, 1, 0, 0, 0.45404757815526253, 0), (155, 12, 237.656, 25, 0, 2, 0, 0, 1, 0, 0, 0, 0.8090491205583501, 1), (235, 16, 237.656, 25, 1, 0, 0, 0, 1, 0, 0, 0, 0.8598235641059163, 1), (291, 31, 237.656, 25, 0, 1, 1, 2, 0, 0, 0, 1, 0.5359352718671377, 1), (179, 22, 237.656, 22, 1, 2, 0, 2, 1, 0, 0, 0, 0.8534407024151325, 1), (225, 26, 237.656, 24, 0, 1, 2, 2, 1, 0, 0, 0, 0.786661853281412, 1), (330, 16, 237.656, 25, 1, 0, 0, 3, 1, 0, 0, 0, 0.9068565190020321, 1), (235, 16, 237.656, 25, 1, 0, 0, 3, 0, 0, 0, 1, 0.36900393008485965, 0), (291, 31, 237.656, 25, 0, 1, 1, 3, 0, 0, 0, 1, 0.5022646859565775, 1);'

In [18]:
cursor.execute(insert_query)

200

In [19]:
conn.commit()

In [20]:
conn.close()